/* ----------------------------------------------- */
/* INITIAL SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    word-wrap: break-word;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* PROFILE */
/* ----------------------------------------------- */
.profile {
    margin-top: 40px;
    margin-bottom: 40px;
}

.profile-header {

}

.profile-photo {
    border-radius: 100px;
    float:left;
}
.profile-name {
    margin-left: 20px;
    float: left;
    padding-top: 75px;
}




