<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
		<title>Trocatudo Server</title>
		<link rel="stylesheet"
		href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!--
		load bootstrap css -->
		<link rel="stylesheet"
		href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<!-- load fontawesome -->
		<style>
			body { padding-top:80px; }
		</style>
	</head>
	<body>
		<div class="container">

			<div class="jumbotron text-center">
				<h1><span class="fa fa-lock"></span> Trocatudo Authentication</h1>

				<p>Login or Register with:</p>

				<a href="auth/login" class="btn
					btn-default"><span class="fa
						fa-user"></span> Local
					Login</a>
				<a href="auth/signup" class="btn
					btn-default"><span
						class="fa
						fa-user"></span>
                    Local Signup</a>
                <br />
                <a href="/auth/google" class="btn btn-danger"><span class="fa
                fa-google-plus"></span> Google</a>
                <a href="/auth/facebook" class="btn btn-info"><span class="fa
                fa-facebook"></span> Facebook</a>
			</div>

		</div>
	</body>
</html>
