<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
		<title>Trocatudo Server</title>
		<link rel="stylesheet"
		href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!--
		load bootstrap css -->
		<link rel="stylesheet"
		href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<!-- load fontawesome -->
		<style>
			body { padding-top:80px; }
		</style>
	</head>
	<body>
	</body>
</html>
