<!-- views/profile.ejs -->
<!doctype html>
<html>
    <head>
        <title>Trocatudo Profile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        <div class="container profile">
            <div class="row">
                    <img src='http://fakeimg.pl/200?font=lobstera' alt='' class='profile-photo'/>
                    <h1 class="profile-name">User.username's Page</h1>
            </div>
            <hr>
            <div class="profile stats">
                <div class="row">
                    <div class="col text-center"><i class="fas fa-boxes"></i> numberOfProducts</div>
                    <div class="col text-center"><i class="fas fa-check-circle"></i> numberOfExchangesDone</div>
                    <div class="col text-center"><i class="fa fa-sync"></i> numberOfWishes</div>
                </div>
            </div>
            <hr>
            <div class="profile-info">
                <div class="row">

                    <div class="col">
                        <h5>User's Info</h5>
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">First and last name</span>
                        </div>
                        <input type="text" class="form-control">
                        <input type="text" class="form-control">
                        </div>

                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Upload photo</span>
                                </div>
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="inputGroupFile01">
                                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                              </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">E-mail</span>
                            </div>
                            <input type="text" class="form-control" placeholder="E-mail@email.com" aria-label="E-mail" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Password</span>
                            </div>
                            <input type="text" class="form-control" placeholder="*****" aria-label="E-mail" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">E-mail</span>
                            </div>
                            <input type="text" class="form-control" placeholder="E-mail@email.com" aria-label="E-mail" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                            <div class="form-group">
                                    <label for="exampleFormControlSelect1">Gender</label>
                                    
                                    <select class="form-control" id="exampleFormControlSelect1">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">E-mail</span>
                                                </div>
                                        <option>Male</option>
                                      <option>Female</option>
                                    </select>
                                  </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="">Birthday</span>
                                </div>
                                <input type="text" class="form-control" placeholder="DD">
                                <input type="text" class="form-control" placeholder="MM">
                                <input type="text" class="form-control" placeholder="YYYY">
                              </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Phone</span>
                            </div>
                            <input type="text" class="form-control" placeholder="(11)98121212" aria-label="E-mail" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Location</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Country" aria-label="E-mail" aria-describedby="basic-addon1">
                        </div>
                        <h5>Social Networks</h5>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">instagram</span>
                                </div>
                                <input type="text" class="form-control" placeholder="E-mail@email.com" aria-label="E-mail" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Facebook</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="E-mail@email.com" aria-label="E-mail" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">twitter</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="E-mail@email.com" aria-label="E-mail" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">bgg</span>
                            </div>
                            <input type="text" class="form-control" placeholder="E-mail@email.com" aria-label="E-mail" aria-describedby="basic-addon1">
                        </div>

                    </div>
                </div>
            </div>
            <div class="page-header text-left">
                <hr>
                <a href="/user/remove" class="btn btn-success">Save changes</a>
                <hr>
                <!-- O delete pode ser um link e depois de clicado aparecer um modal com o botão vermelho
                ou uma div nova com o botão vermelho -->
                <a href="/user/remove" class="btn btn-danger">Delete account</a>
                <hr>
                <a href="/auth/logout" class="btn btn-light">Logout</a>
            </div>
        </div>

        <div class="row">
        </div>
    </body>
</html>
